html{
     background-image: url('pics/websiteport.jpg');
   width: 100%;
  height: 30vh;
 
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  background-color: whitesmoke;
}

li {
  float: left;
    
}

li a {
  display: block;
  color: dimgrey;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


li a:hover {
  background-color: black;
    align-content: center;
}

#taskbar {
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    left:39%;
}